body {
    color: #32325f;

}

.book {
    min-width: 100%;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 14px;
}
.desxription {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}
.price-tag {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
}

.price {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 400;
}

.main {
    margin-top: 100px;
}

.hero {
    padding-top: 70px;
    padding-bottom: 90px;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;   
}

.section-subtitle {
    font-size: 20px;
    font-weight: 400;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
}

.about-block {
    margin-top: 100px;
}

.pading {
    padding-bottom: 36px;
    /* padding-right: 28px; */
    max-width: 100%;
}

.info {
    padding-top: 78px;
    padding-bottom: 90px;
    background-color: #32325f;
    color: #fff;
}

.text {
    padding-bottom: 34px;
    font-size: 24px;
    font-weight: 700;
}

a {

    color: #fff;
}

.info-text {
    padding-left: 115px;
}