* {
    box-sizing: border-box;
}

.fonts {
/* Style for "Фон" */
background-color: #f6f6f6;
width: 1200px;
height: 675px;
/* position: absolute; */
margin: auto;
}

.layer {
/* Style for "Прямоуголь" */
position: absolute;
margin: 68px 95px;
width: 1010px;
height: 503px;
border: 1px solid #d7d7d7;
background-color: #ffffff;
}

img {
    display: inline-block;
    margin: 64px 48px;
    vertical-align: top;
}

h1 {
    color: #000;
    display: inline-block;
    /* vertical-align: top; */
    position: absolute;
    margin: 94px 309px 387px 99px;
    width: 178px;
    height: 22px;
    color: #2f2f2f;
    font-size: 23px;
    font-weight: 400;
}

.text {
    position: absolute;
    display: inline-block;
    margin: 146px 93px 307px 100px;
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 400;
    width: 393px;
    height: 50px;
}

.prais {
    position: absolute;
    display: inline-block;
    margin: 251px 451px 238px 100px;
    width: 35px;
    height: 14px;
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 400;
}

.money {
    position: absolute;
    display: inline-block;
    margin: 288px 381px 187px 100px;
    width: 103px;
    height: 28px;
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 400;
}

button {
    position: absolute;
    display: inline-block;
    margin: 372px 232px 81px 100px;
    width: 252px;
    height: 50px;
    background-color: #ec744a;
}

span {
    width: 174px;
    height: 18px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
}