* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #32325f;
}

.container {
    /* border: 1px solid red; */
    /* height: 50px; */
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 159px;
}

.navbar span {
color: #95989a;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}

.hero {
    padding-top: 70px;
    padding-bottom: 190px;
    background-color: #f4f5f7;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    width: 50%;
}

.subtitle {
font-size: 20px;
font-weight: 400;
display: block;
margin-bottom: 15px;
}

.title {
font-size: 48px;
font-weight: 700;
display: block;
margin-bottom: 26px;
}

.discription {
font-size: 20px;
font-weight: 400;
line-height: 26px;
margin-bottom: 16px;
}

.price-tag {
font-size: 20px;
font-weight: 400;
margin-bottom: 20px;
display: block;
}

.price {
display: block;
font-size: 48px;
font-weight: 400;
margin-bottom: 49px;
}

.btn {
text-decoration: none;
box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
border-radius: 6px;
padding: 20px 30px;
color: #fff;
background-color: gray;
}

.btn-success {
background-color: #2dce89;
margin-right: 20px;
}

.btn-primory {
background-color: #5e72e4;
}

/* Вторая страница (секция) */
.section {
    /* Внутренние отступы секции */
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-subtitle {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;
}

.section-title {
    display: block;
    font-size: 48px;
    font-weight: 700;
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.block {
    width: 23%;
    margin-right: 2%;
}

.block-text {
font-size: 16px;
font-weight: 400;
color: #525f7f;
margin: 40px 0;
line-height: 1.4;
}

.hero2 {
    padding-top: 70px;
    padding-bottom: 112px;
    background-color: #f4f5f7;
}

.img-block {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-block img {
    /* width: 25%; */
    margin-bottom: 36px;
    width: 362px;
    height: 254px;
}

.footer {
    background-color: #32325f;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.footer-block {
    width: 33%;
    line-height: 1.4;

}

.footer-title {
font-size: 24px;
font-weight: 700;
margin-bottom: 34px;
}

.footer a {
    display: block;
    color: #fff;
    text-decoration: none;
}






